<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <!--<h1>Dating Site</h1>-->

    <div class="row align-items-center">

        <div class="col-md-6">
            <h2 class="my-2">Dating for Hopelessly Hopeless</h2>
            <p>For anyone who has ever felt like they'll never find a potential mate, never maintain a healthy relationship,
            or even approach someone you're interested in to begin with, you've come to the right place. On Dating for the Hopelessly Hopeless
            we guarantee that you and whoever you match with will be grossly incompatible, though we don't expect many of you to get that far.</p>

            <h3 class="my-3">Here's what our client base has said about this service: </h3>
            <ul>
                <li>"I've gotten 50 matches and have been too terrified to message even one of them! -Robert"</li>
                <li>"I once went on a date with with a man who showed up covered in grease and a strange powder. I'll
                never forget that night" -Brittany</li>
                <li>"I love this site because it doesn't make me hopeful of success, I can stay relaxed through every date!" -Frederick</li>
            </ul>

            <a class="btn btn-primary" href="#" role="button">Sign Up Now!</a>
        </div>

        <div class="col-md-6">
            <img class="img-fluid" src="images/splash.png" alt="">
        </div>

    </div>
</div>
</body>
</html>