<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Information</title>
</head>
<body>

<form method="post" action="#">
    <fieldset>
        <!-- First Name -->
        <label><h3>First Name</h3>
        <input type="text" size="20" maxlength="20" name="fName">
         </label>
        <check if="{{isset(@errors['first'])}}">
            <p>{{@errors['first']}}</p>
        </check>

        <!-- Last Name -->
        <label><h3>Last Name</h3>
         <input type="text" size="20" maxlength="20" name="lName">
        </label>
        <check if="{{isset(@errors['last'])}}">
            <p>{{@errors['last']}}</p>
        </check>

        <!-- Age -->
        <label><h3>Age</h3>
        <input type="text" size="20" maxlength="20" name="age">
        </label>
        <check if="{{isset(@errors['age'])}}">
            <p>{{@errors['age']}}</p>
        </check>

        <!-- Gender -->
        <label><h3>Gender: </h3>
            <input type="radio" value="male" name="gender">Male
            <input type="radio" value="female" name="gender">Female
        </label>
        <check if="{{isset(@errors['gender'])}}">
            <p>{{@errors['gender']}}</p>
        </check>

        <!-- Phone Number -->
        <label><h3>Phone Number: </h3>
        <input type="text" size="20" maxlength="20" name="phone">
        </label>
        <check if="{{isset(@errors['phone'])}}">
            <p>{{@errors['phone']}}</p>
        </check>
        </fieldset>

        <button type="submit">Next --></button>
</form>

</body>
</html>