<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

<form method="post" action="#">
    <fieldset>

        <!--email -->
        <label><h3>Email</h3>
            <input type="text" size="50" maxlength="50" name="email">
        </label>
        <check if="{{isset(@errors['email'])}}">
            <p>{{@errors['email']}}</p>
        </check>

        <!-- state -->
        <label><h3>State</h3>
            <select name="state" id="state">
                 <option>Washington</option>
            </select>
        </label>
        <check if="{{isset(@errors['state'])}}">
            <p>{{@errors['state']}}</p>
        </check>

        <!-- Seeking -->
        <label><h3>Seeking:</h3>
            <input type="checkbox" name="seeking[]" value="male">Male
            <input type="checkbox" name="seeking[]" value="female">Female
            <br>
            <input type="checkbox" name="seeking[]" value="lonely">Loneliness
            <input type="checkbox" name="seeking[]" value="despair">Despair
        </label>
        <check if="{{isset(@errors['seeking'])}}">
            <p>{{@errors['seeking']}}</p>
        </check>
    </fieldset>

    <button type="submit">Next --></button>
</form>

</body>
</html>