

<include href="views/head.html"/>
<body>
<include href="views/navbar.html"/>
<form method="post" action="#">
    <fieldset>

        <!--email -->
        <label><h3>Email</h3>
            <input type="text" size="50" maxlength="50" name="email" value="{{@POST['email']}}">
        </label>
        <check if="{{isset(@errors['email'])}}">
            <p>{{@errors['email']}}</p>
        </check>
        <br>
        <!-- state needs to be expanded -->
        <label><h3>State</h3>
            <select name="state" id="state">
                 <option>Washington</option>
            </select>
        </label>
        <check if="{{isset(@errors['state'])}}">
            <p>{{@errors['state']}}</p>
        </check>
        <br>
        <!-- Seeking -->
        <label><h3>Seeking:</h3>
            <input type="checkbox" name="seeking[]" value="male">Male
            <input type="checkbox" name="seeking[]" value="female">Female
            <br>
            <input type="checkbox" name="seeking[]" value="lonely">Loneliness
            <input type="checkbox" name="seeking[]" value="despair">Despair
        </label>
        <check if="{{isset(@errors['seeking'])}}">
            <p>{{@errors['seeking']}}</p>
        </check>
    </fieldset>

    <button type="submit">Next --></button>
</form>

</body>
</html>