<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

<form>
    <fieldset>
        <label>Email
            <input type="text" size="20" maxlength="20" name="email">
        </label><br>

        <label>State
            <select name="state" id="state">
                 <option>Washington</option>
            </select>
        </label><br>

        <label>Seeking: <br>
            <input type="checkbox" name="seeking" id="male">Male
            <input type="checkbox" name="seeking" id="female">Female
            <br>
            <input type="checkbox" name="seeking" id="lone">Loneliness
            <input type="checkbox" name="seeking" id="desp">Despair
        </label>
    </fieldset>
    <button type="submit">Next --></button>
</form>

</body>
</html>